h1 {
    text-align: center;
}

.rojo {
    background-color: tomato;
}

.rosa {
    background-color: rgb(211, 14, 168);
}

.rojo,
.rosa,
.violeta,
.azul {
    color: white;
    border: 3px solid rgb(31, 9, 9);
}

.amarillo {
    background-color: yellow;
    border: 3px double rgb(212, 12, 12);
}

.violeta {
    background-color: blueviolet;
}

.lima {
    background-color: yellowgreen;
    border: 3px dotted rgb(25, 46, 39);
}

.azul {
    background-color: blue;
}