h1 {
    text-align: center;
    color: #457b9d;
}

div.contenedor {
    width: 30%;
    height: 100px;
    overflow: auto;

}

div.contenedor.flotado {
    float: left;
}

div.contenedor.flotado.contenedor1 {
    border: 3px dashed greenyellow;
}

div.contenedor.flotado.contenedor2 {
    border: 3px dashed cornflowerblue;
    float: right;
}

div.contenedor.contenedor3 {
    clear: both;
    border: 3px dashed darkorange;
    margin: auto;
}

div.contenedor2 {
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 3px dashed rgba(86, 216, 255, 0.8);
}

span {
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    background-color: #16252e;
    border: 1px solid rgba(12, 24, 27, 0.8);
    height: 50px;
    padding: 5px;
    color: aliceblue;
    display: inline-block;
}

.menu {
    list-style: none;
    text-align: center;

}

.menu li {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: brown;
    border-radius: 5px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}