h1 {
    color: tomato;
    text-align: center;
}

div {
    padding: 15px;
    margin: auto;
    max-width: 400px;
}

.icono_rosa {
    font-size: 2.5em;
    color: rgb(232, 171, 247);

}

.icon_azul {
    color: blue;
}