body {
    /*  background-color: dodgerblue; */
    color: aliceblue;
    /*
    background-image: url("/Leccion05/img/fondo.png");
    background-repeat: repeat-x; */
    background-attachment: fixed;
    background: dodgerblue url("/Leccion05/img/fondo.png") no-repeat right top;

}

h1 {
    text-align: center;
    background-color: blue;
}